[Unit]
Description=Owns
After=network.target
StartLimitIntervalSec=500
StartLimitBurst=5


[Service]
User=root
ExecStart=owns
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target

